<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card style="width: 285px;">
    <mat-toolbar color="primary" style="margin-bottom: 20px;"  fxLayout="row" fxLayoutAlign="center center">
      <span>Create a Picture</span>
    </mat-toolbar>

    <form class="example-form" [formGroup]="pictureForm" (ngSubmit)="onSubmit()" fxLayout="column"
      fxLayoutAlign="center center">
      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input matInput type="text" placeholder="Title" formControlName="title">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label> Image Url</mat-label>
        <textarea matInput placeholder="imageUrl" formControlName="imageUrl"></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Genre</mat-label>
        <input matInput placeholder="Genre" formControlName="genre">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Author</mat-label>
        <mat-select formControlName="authorId">
          <mat-option  *ngFor="let author of (authors$ | async)" [value]="author._id">
            {{author.name}} {{ author.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card-actions>
        <button type="button" mat-stroked-button color="primary"  (click)="onClear()"> Clear Form</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="!pictureForm.valid" style="margin-right: 0px;">
          <span *ngIf="id; else loading">Edit Picture</span>
          <ng-template #loading>Add Picture</ng-template>
          </button>
      </mat-card-actions>
    </form>

  </mat-card>
</div>
