@keyframes example {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px, 35px);
    }
}

#scroll {
    animation-name: example;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;

    transform-origin: bottom left;
    transform-box: fill-box;
}