<mat-sidenav-container class="sidenav-container">
  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <mat-toolbar class="side-nav-custom" style="background-color: #673ab7;" color="primary">Add New Picture</mat-toolbar>

    <mat-nav-list fxLayout="column">
      <app-picture-form style="margin: 5px;"></app-picture-form>
      <app-author-form style="margin: 5px;"></app-author-form>
    </mat-nav-list>

  </mat-sidenav> -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
      <a aria-hidden="false" [routerLink]="['/']" style="color: white;">
        <mat-icon class="example-icon">home</mat-icon>
      </a>

      <span class="example-spacer"></span>

      <a aria-hidden="false" [routerLink]="['/pictures/new']" style="color: white;">
        <mat-icon class="example-icon">add_circle</mat-icon>
      </a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>