.sidenav-container {
  height: 100%;
}

.sidenav {
  // width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.side-nav-custom {
  position:absolute !important;
}

@media only screen and (max-width: 600px) {
  mat-nav-list {
    margin-top: 170px;
  }
}


.example-icon {
  padding: 0 14px;
  font-size: 35px;
}

.example-spacer {
  flex: 1 1 auto;
}