.list-container {
  padding-top: 20px;
}

.hero-image {
  // background-image:  url('../../assets/hero-image.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/hero-image.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text  {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(212,212,212,0.08727240896358546) 11%, rgba(218,218,218,0.08727240896358546) 88%, rgba(255,255,255,0) 100%);
  border-radius: 5px;
  padding: 45px;
  
  h1, p {
    color: white;
    font-style: italic ;
    font-family: 'Tangerine', serif;
    font-weight: lighter;
    margin-bottom: 0px;
  }
  h3 {
    color: white;
    margin: 5px;
  }
}

.scroll-animation {
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#wrapper {
  display: block !important;
}

@media only screen and (max-width: 600px) {
  .hero-image {
    // height: 100%;
    background-attachment: initial;
  }
}