.list-container {
  padding-top: 20px;
}

.mat-card-image {
  max-width: 560px;
  max-height: 350px;
  margin-top: 0px !important;
}

mat-card {
  padding: 0px 20px 20px 20px !important;
  margin-bottom: 15px;
  box-shadow: none !important;
}

