<div>
  <div fxLayout="row wrap" fxLayout="column" id="wrapper" scrollable (scrollPosition)="onScrollHandler($event)"
    style="overflow-y:scroll; height: 100vh;">

    <!-- Home Page -->
    <div class="hero-image">
      <div class="hero-text">
        <h1>Create your Portfolio</h1>
        <h3>&</h3>
        <!-- <mat-form-field appearance="outline" style="width: 100%;">
          <input matInput placeholder="Placeholder" #search (keyup.enter)="onSearch(search.value)">
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onSearch(search.value)">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field> -->
        <p>Share your pictures</p>
      </div>
      <app-scroll-icon-animation class="scroll-animation"></app-scroll-icon-animation>
    </div>

    <!-- List Of Pictures -->
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-around center" class="list-container margin-container"
      fxLayoutGap="10px">
      <div *ngFor="let picture of filterPictures">
        <!-- Not allow edit or erase if author is Oscar Martinez Malo -->
        <app-picture-card [picture]="picture" [showEditSection]="(picture.author.lastName === 'Martinez Malo') ? false : true"></app-picture-card>
      </div>
    </div>

    <loading-spinner *ngIf="pictureService.loading$ | async"></loading-spinner>
    <mat-toolbar *ngIf="pictureService.done$ | async"color="primary" style="justify-content: center;">No more Pictures</mat-toolbar>
  </div>

</div>