@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  height: 100%;  
}

.mat-card {
  padding: 0px !important;
  border-radius: 5px;
}

.mat-card .mat-toolbar {
  border-radius: 5px 5px 0px 0px;
}

mat-nav-list.mat-nav-list.mat-list-base {
  padding: 0px;
}

.sidenav[_ngcontent-uso-c1] .mat-toolbar[_ngcontent-uso-c1] {
    background: none !important;
}

.mat-drawer-inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.router-content{
  height: 100%;
}

.margin-container {
  margin-right: 10%;
  margin-left: 10%;
}

.component-container {
  padding-top: 100px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white !important;
}

@media only screen and (max-width: 600px) {
  .margin-container {
    margin-right: 1%;
    margin-left: 1%;
  }
}