<mat-card *ngIf="picture.imageUrl">

  <div *ngIf="showEditSection">
    <div class="icon-container edit">
      <a mat-icon-button [routerLink]="['/pictures/', picture._id]">
        <mat-icon>edit</mat-icon>
      </a>
    </div>
  
    <div class="icon-container delete">
      <button mat-icon-button aria-label="Example icon button with a home icon" (click)="onDelete(picture._id)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  </div>

  <img mat-card-image class="picture-card" [src]="picture.imageUrl" alt="Picture">
  <mat-card-title>{{picture.title | titlecase}}</mat-card-title>

  <mat-card-subtitle>
    {{getAuthorFullName()}}
  </mat-card-subtitle>
</mat-card>